.wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  height: 80vh;
}

.wrapper span {
  line-height: 40px;
}
.item {
  padding-bottom: 20px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #333;
  line-height: 75px;
  letter-spacing: 0.2em;

  text-align: center;
}

.secTitle {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  line-height: 75px;
  letter-spacing: 0.1em;
}
